nav {
  background: linear-gradient(90deg, #880e4f, #4a148c);
  color: #ec407a;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff8a65, #ec407a, #f06292);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .logo img {
  width: 60px;
  height: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
}

nav ul li a:hover {
  text-decoration: underline;
}
/*! Final Navbar */

/* Inicio Footer */
footer {
  box-sizing: border-box;
  position: relative;
  margin: 5px 0px 0px 0px;
  background-color: #1f1f1f;
  color: #f0f0f0;
  font-style: normal;
  padding: 4px 0 40px;
  line-height: 25px;
  font-family: 'Arial', sans-serif;
  word-break: normal;
  border-radius: 10px;
}

.main-nav {
  position: sticky;
  top: 20px;
  left: 1%;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 0px;
}

.estructura {
  float: left;
  width: 40%;
  padding: 20px;
}

ul.proplistado {
  list-style-type: none;
}

ul.proplistado li {
  font-size: 16px;
  margin-left: -38px;
}

.estiloemail {
  float: left;
  width: 30%;
  padding: 10px;
}

.estiloemail ul {
  font-size: 14px;
  list-style-type: none;
  margin-left: -38px;
}

.estiloemailformulario {
  position: relative;
  margin-top: 50px;
}

.estiloemailformulario > input {
  width: 200px;
  border-radius: 5px;
  border-color: #1072ef;
  color: #363636;
  font-size: 14px;
  padding: 6px 10px;
}

.estiloemailformulario > input:focus {
  border-color: #1072ef;
  color: #000000;
}

.estiloemailformulario > button {
  display: inline-block;
  background: #4c81d2;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 6px;
  outline: 0;
  margin-left: 5px;
  box-shadow: 2px 6px 10px 0 rgba(82, 82, 82, 0.1);
  padding: 6px 10px;
  cursor: pointer;
}

hr {
  width: 100%;
  border: none;
  border-top: 0.1rem ridge rgba(255, 255, 255, 1);
}

/* Final Footer */
/* CSS */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1b1c3d;
  color: #f4f4f4;
}

/* Header */
header {
  text-align: center;
  padding: 20px 20px;
  background: #1b1c3d;
  border-bottom: 2px solid #E91E63;
}
.titulo {
  font-size: 5em; 
  font-weight: bold;
  background: linear-gradient(to right, #E91E63, #FF8A65 ); 
  -webkit-background-clip: text; /* Recorta el fondo al texto */
  background-clip: text; /* Para una mejor compatibilidad */
  color: transparent; /* Hace el texto transparente para que se vea el fondo */
  display: inline-block; /* Para que el fondo encaje con el texto */
}
.subtitulosMain {
  font-size: 3em; 
  font-weight: bold;
  background: linear-gradient(to right, #E91E63, #FF8A65 ); 
  -webkit-background-clip: text; /* Recorta el fondo al texto */
  background-clip: text; /* Para una mejor compatibilidad */
  color: transparent; /* Hace el texto transparente para que se vea el fondo */
  display: inline-block; /* Para que el fondo encaje con el texto */
 
}

main {
  margin: 40px auto;
  padding: 0 20px;
}
.subtitulosCard{
    color: #E91E63;
}
.cards {
  display: flex;           /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  gap: 30px;               /* Espacio entre tarjetas */
  flex-wrap: wrap;         /* Permite que bajen de línea si no caben */
}
.card {
    display: inline-block; 
    width: 300px;
    height: 300px;
    text-align: center;
    background: #1b1c3d;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.card img {
    width: 100%;       /* La imagen ocupa todo el ancho de la card */
    height: 150px;     /* Altura fija para que todas tengan la misma altura */
    object-fit: cover; /* Recorta y mantiene proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados como la card */
    margin-top: 10px;  /* Espacio entre el texto y la imagen */
}
.generos {
  display: flex;           /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  gap: 30px;               /* Espacio entre tarjetas */
  flex-wrap: wrap;         /* Permite que bajen de línea si no caben */
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cardus {
    display: inline-block;
    text-align: center;
    background: #1b1c3d;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px #FF8A65 ;
}

.cardusito {
    display: inline-block;
    text-align: center;
    text-indent: 0cap;
  
}
